* {
    font-family: Trebuchet, Arial, sans-serif;
    word-spacing: 0.06rem;
    letter-spacing: 0.02rem;
    line-height: 2;
}

body {
    width: 80%;
    margin: auto;
}

p, input, select, label, ul {
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.form-child {
    margin-bottom: 20px;
}

li {
    padding: 5px;
}